{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Time</th>
            <th scope="col">hasFastpass</th>
            <th scope="col">status</th>
            <th scope="col">isSinglerider</th>
            <th scope="col">isStudio</th>
        </tr>
        </thead>
        <tbody>
        {% for attractionTime in attractionTimes %}
            <tr>
                <td>{{ attractionTime.attraction.name }}</td>
                <td data-toggle="tooltip" data-placement="left" title="Last updated {{ attractionTime.createdAt|date }}">{{ attractionTime.waitTime }}</td>
                <td>{{ attractionTime.hasFastpass }}</td>
                <td>{{ attractionTime.status }}</td>
                <td>{{ attractionTime.isSinglerider }}</td>
                <td>{{ attractionTime.attraction.isStudio }}</td>
            </tr>
        {% else %}
            <tr>
                <td>No data</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
